@import './base.css';

#app, html, body {
    height: 100%;
    background-color: var(--color-background);
}

#app {
    display: flex;
}
h1 {
    color: var(--primary-color);
    font-size: 2em;
    font-weight: bold;
}
h2 {
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    color: var(--color-heading);
    font-size: 1.17em;
}
p {
    color: var(--color-text);
    font-size: 1em;
}
a {
    color: var(--color-text);
    font-size: 1em;
    text-decoration: none;
    transition: all 0.2s;
}
a:hover {
    color: var(--primary-color);
}
article h1, article h2, article h3, article p, article ul{
    width: 100%;
}
pre {
    font-size: 1em;
    color: white;
    border-radius: 5px;
    padding: 10px 0;
    width: 90%;
}
code {
    display: block;
    background-color: rgb(31, 30, 30);
    font-size: 1em;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.img-link {
    all: unset;
    cursor: pointer;
}
